@mixin grid-col($span) {
    grid-column: span $span;
}

@mixin grid-row($span) {
    grid-row: span $span;
}

.grid-col-span-2 {
   grid-column: span 2;
}

.grid-col-span-3 {
    grid-column: span 3;
}

.grid-col-span-4 {
    grid-column: span 4;
}

.grid-col-span-5 {
    grid-column: span 5;
}

.grid-col-span-6 {
    grid-column: span 6;
}