.toast-container {
    @include font-lato(1rem, 600);
    top: 12%;
    
    button {
        color: $black;
        opacity: 1;
    }
}

.toast-success {
    background: $success !important;
    color: $white;

    .Toastify__toast-icon svg {
        fill: $white;
    }   
}

.toast-info {
    background: $black !important;
    color: $white;

    .Toastify__toast-icon svg {
        fill: $white;
        
    }   
}

.toast-progress-info {
    background-color: $white !important;
}

.toast-warn {
    background: $warning !important;
    color: $black;
    
    .Toastify__toast-icon svg {
        fill: $black;
    }   
}

.toast-progress-warn {
    background-color: #af9122 !important;
}

.toast-default {
    background: $default !important;
    color: $white;
    
    .Toastify__toast-icon svg {
        fill: $white;    
    }
}
 
.toast-load {
    background: $black !important;
    color: $white;

    .Toastify__toast-icon {
        width: 3rem;
        height: 3rem;
    }

    .Toastify__toast-icon svg {
        fill: $white;    
    }  
}

.toast-error {
    background: $secondary-first-light !important;
    color: $white;

    .Toastify__toast-icon svg {
        fill: $white;  
    }
}

.Toastify__toast-icon {
    @include center-flex(row, center, center);
    width: 2rem;
    height: 2rem;
}

.Toastify__close-button {
  svg {
    fill: $white !important;
    transition: fill 0.3s;
  }

  &:hover svg {
    fill: $primary-first-light !important;
  }
}
