.tabs {
    @include col-grid (5, 1fr, 0.5rem, center, center);
    @include row-grid (16, 1fr, 0.5rem, center, center);
    @include font-rubik(0.9rem, 600);

    background-color: $white;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

    width: 94%;
    height: 94%;
}

.tab-list {
    @include grid-cols(5);
    @include grid-rows(1);
    @include center-flex(row, flex-start, flex-start);

    border-bottom: 2px solid $primary-second-light;
    width: 100%;
    height: 100%;
}

.tab {
    @include center-flex(column, center, center);
    
    padding: 1rem 1.5rem 1rem 1.5rem;
    background: transparent;
    border: none;
    border-radius: 1em 1rem 0 0;
    cursor: pointer;
    height: 100%;
    transition: background 0.2s ease;

    &[data-selected] {
        background: $primary-second-light;
        color: $white;
    }

    &:hover {
        background: $secondary-first-light;
        color: $white;
        scale: 1.01;
    }
}

.tab-panel {
    @include grid-cols(5);
    @include grid-rows(15);
    @include font-lato(1.2rem,500);
    border-radius: 1rem;
    background-color: $white;
    padding: 1rem;
    width: 100%;
    height: 100%;
}
