.profile-sidebar {
  @include center-flex(column);
  position: fixed;
  top: 0;
  left: 0;

  border-radius: 0 4rem 4rem 0;
  background-color: $secondary-first-light;

  padding: 1.5rem;
  height: 100%;
  //Cambiar al compact sidebar
  min-width: 18rem;

  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1;
   &.collapsed {
    min-width: 5rem;

    .sidebar-header {
      display: none;
    }

    span {
      display: none;
    }

    .fourth-link {
      grid-row-start: -3;
    }

    .fifth-link {
      grid-row-start: -2;
    }
  }

  &.open {
    min-width: 18rem;

    .logo,
    .sidebar-text {
      display: inline;
    }

    .logo {
      width: 12rem;
      height: 12rem;
      padding: 1rem;
      fill: $white;
    }

    .pin {
      position: relative;
      top: 2rem;
      left: 6rem;
      stroke: $white;

      cursor: pointer;
      transition: scale 0.2s ease-in-out;
    }
  }

  .pin.active {
    stroke: $black;
  }
}

.sidebar-header {
  @include center-flex(column, center, center);
  width: 100%;
  margin-bottom: 2rem;
}

.sidebar-header .pin:hover {
  scale: 1.1;
  stroke: $black;
}

.sidebar-nav {
  @include row-grid(8, 1fr, 2rem, center, center);
  
  width: 100%;
}

.sidebar-link {
  @include font-lato(1.2rem, 500);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  color: $white;
  text-decoration: none;

  padding: 1rem;
  height: 100%;
  width: 100%;
  transition: scale 0.2s ease-in-out, background 0.2s ease-in-out;
}

.sidebar-link:hover {
  border-radius: 0 2rem 2rem 0;
  background: $sidebar-hover-right;
  color: $black;
  scale: 1.05;
}

.first-link {
}
.second-link {
}
.third-link {
}
.fourth-link {
  @include grid-rows(2);
  grid-row-start: -4;
}
.fifth-link {
  @include grid-rows(2);
  grid-row-start: -3;
}