.auth-container {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  top: 0;

  .auth-form-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: transform 0.8s ease-in-out;
    transform: translateX(0%);
  }

  &.signUp .auth-form-wrapper {
      transform: translateX(-100%);
  }

  .form-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column: span 2;
    width: 100%;
    padding: 0 2rem 8rem 2rem;
    min-height: 100vh;
    
    transition: all 0.5s ease, opacity 0.5s ease;
  }

  .sign-up-panel {
    opacity: 1;
    transform: translateX(100%);
  }

  .sign-up-panel {
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none; 
  }

  .auth-form-wrapper.sign-up-active .sign-in-panel {
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
  }

  .auth-form-wrapper.sign-up-active .sign-up-panel {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}

