@use "variables" as vars;
@use "typography" as typo;

.forgot-link {
    text-decoration: none;
    margin-bottom: 1rem;
    font-family: typo.$text-font;
    font-size: 0.8rem;
    color: vars.$black-opaque-text;
    transition: scale 0.2s ease-in-out;
}

.forgot-link:hover {
    color: vars.$secondary-first-light;
    scale: 1.05;
}