.forgot-link {
    text-decoration: none;
    margin-bottom: 1rem;
    font-family: $text-font;
    font-size: 0.8rem;
    color: $black-opaque-text;
    transition: scale 0.2s ease-in-out;
}

.forgot-link:hover {
    color: $secondary-first-light;
    scale: 1.05;
}