.disable-navbar-click header,
.disable-navbar-click .language-switcher {
    pointer-events: none;
    background: rgba(0, 0, 0, 0.1);
    color: $black;
}

.forgot-link {
    text-decoration: none;
    margin-bottom: 1rem;
    font-family: $text-font;
    font-size: 0.8rem;
    color: $black-opaque-text;
    transition: scale 0.2s ease-in-out;
}

.forgot-link:hover {
    color: $secondary-first-light;
    scale: 1.05;
}

.feedback-error-container{
    @include center-flex(column, center, center);
    margin: 1rem 0 1rem 0;
    gap: 0.5rem;
}

.feedback-error{
    @include font-lato(1rem, 600);
    color: $white;
    background: $secondary-first-light;
    border-radius: 1.2rem;
    
    padding: 1rem;
    width: 90%;
}

.icon {
    border: 0.2rem solid $secondary-first-light;
    padding: 2rem;
}

.feedback-success {
    @include center-flex(column, center, center);
    padding: 1rem;
    gap: 1rem;
}

.feedback-message {
    @include font-lato(1rem, 600);
    text-align: center;
    border-radius: 1.2rem;
    color: $white;
    background-color: $black;

    padding: 1rem;
    width: 90%;
}

.cancel-btn {
    @include rounded-box(2rem);
    background: $primary-second-light;
    color: $white;
    font-family: $text-font;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    width: 15rem;
    height: 2.2rem;
    transition: scale 0.2s ease-in-out;
}

.cancel-btn:hover {
    background: $black;
    scale: 1.05;
}
