.sign-in-panel {
    grid-column: span 2;
    background: none;
    height: 100%;
}

.sign-in-form {
    @include center-flex(column, center, center);
    width: 100%;
}

.form-title {
    margin-bottom: 6rem;
}

.actions {
    @include center-flex(column, center, center);
    width: 100%;
}

.gradient-line {
    @include center-flex(row, center, center);
    width: 50%;
    height: 0.2rem;
    background: $line-fill-gradient;
    margin-bottom: 2rem;
}

