.sign-in-panel {
    grid-column: span 2;
    background: none;
    height: 100%;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.form-title {
    margin-bottom: 6rem;
    text-shadow: 0 6px 3px $black-shadow-box;
}

.gradient-line{
    width: 30rem;
    height: 0.2rem;
    background: $line-fill-gradient;
    margin-bottom: 2rem;
}

