<h1>Greeting <%= @user.first_name %>,</h1>

<p><%= @inviter.full_name %> has invited you to be part of The Ruby Train.</p>

<p><%= @message %></p>

<p><%= link_to 'Accept invitation', accept_user_invitation_url(@user.invitation_token) %></p>
