.nav-bar {
    position: fixed;
    right: 7%;
    left: 7%;
    background-color: $secondary-first-light;
    border-radius: 0 0 2rem 2rem;
    padding: 1.2rem;
    height: 4.5rem;
    width: 86%;
    box-shadow: -10px 5px 8px 8px rgba(0, 0, 0, 0.10);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.nav-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    width: 95%;
}

.nav-links {
    display: flex;
    gap: 5rem;  
}

.nav-link {
    text-decoration: none;
    color: $white;
    font-family: $text-font;
    font-size: 0.8rem;
    font-weight: 500;
    
    transition: transform 0.2s ease;
}

.nav-link:hover {
    color: $black;
    transform: scale(1.1);
    padding-bottom: 0.2rem;
}

.nav-grid .logo {
    display: flex;
    height: 2rem;
    transition: transform 0.3s ease;
}

.nav-grid .logo:hover {
    transform: scale(1.3);
}

.nav-switches {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    width: 100%;
    height: 100%;

    .toast-preview-btn {
        background-color: transparent;
        border: none;
        margin: 0;
        transition: scale 0.2s ease;
    }

    .toast-preview-btn:hover {
        cursor: pointer;
        scale: 1.2;
    }
}

.auth-btn {
    background-color: $black;
    padding: 1rem;
    margin-right: 1rem;
    border: none;
    border-radius: 1rem;
    color: $white;
    font-weight: 600;
    font-size: 0.9rem;
    transition: scale 0.2s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background: $secondary-first-light;
        color: $black;
        scale: 1.05;
      }
}