@use "variables" as vars;
@use "typography" as typo;

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-family: typo.$text-font;
    font-size: 0.8rem;
    color: vars.$black-opaque-text;
}

.checkbox {
    accent-color: vars.$secondary-first-light;
    appearance: auto;     
    border: 2px solid vars.$black-opaque-text;
    border-radius: 0.2rem;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.75rem;
    cursor: pointer;
}

.checkbox:hover {
    accent-color: vars.$secondary-first-light;
}