.checkbox-container {
    @include center-flex(row);
    @include font-lato(0.8rem, 500);
    margin-bottom: 1.5rem;
    color: $black-opaque-text;
}

.checkbox {
    accent-color: $secondary-first-light;
    appearance: auto;     
    border: 2px solid $black-opaque-text;
    border-radius: 0.2rem;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.75rem;
    cursor: pointer;
}

.checkbox:hover {
    accent-color: $secondary-first-light;
}