.react-aria-ComboBox {
  @include only-flex(column);
  margin-bottom: 1.5rem;
}

.react-aria-ComboBox input {
    @include rounded-box(2rem);
    @include font-lato(0.8rem, 700);
    padding-left: 2rem;
    color: $black;

    width: 30rem;
    height: 2rem;
    transition: scale 0.2s ease-in-out;
}

.react-aria-ComboBox input:focus {
    @include font-lato(0.8rem, 700);
    outline: none;
    color: $white;
    background: $primary-second-light;
    border: 0.1rem solid $secondary-first-light;
}

.react-aria-ComboBox input:hover{
  @include input-hover-scale(1.02, 0.1rem, $secondary-first-light);
}

.react-aria-ComboBox input::placeholder {
  @include font-lato(0.8rem, 700);
  color: $secondary-first-light;
}   

.react-aria-Popover {
  @include rounded-box(1rem);
  border: 1px solid $secondary-first-light;
  margin-top: 0.5rem;
  margin-left: 0.6rem;
  padding: 0.25rem 0;

  width: 100%;
  max-width: 30rem;
  max-height: 12rem;
  z-index: 10;
  overflow-y: auto;
}

.react-aria-ListBoxItem {
  padding: 0.5rem 1rem;
  font-family: $text-font;
  font-size: 0.8rem;
  cursor: pointer;
  color: $black;
}

.react-aria-ListBoxItem[data-focused="true"] {
  background-color: $secondary-first-light;
  color: $white;
}

.react-aria-ListBoxItem[aria-selected="true"] {
  background-color: $primary-second-light;
  color: $white;
}