.react-aria-ComboBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.react-aria-ComboBox input {
    @include rounded-box(2rem);
    padding-left: 2rem;
    color: $black;
    font-family: $text-font;
    font-weight: 700;
    font-size: 0.8rem;

    width: 30rem;
    height: 2rem;
    transition: scale 0.2s ease-in-out;
}

.react-aria-ComboBox input:focus {
    outline: none;
    color: $white;
    font-family: $text-font;
    font-size: 0.8rem;
    background: $primary-second-light;
    border: 0.1rem solid $secondary-first-light;
}

.react-aria-ComboBox input:hover{
    border: 0.1rem solid $secondary-first-light;
    scale: 1.02;
}

.react-aria-ComboBox input::placeholder {
    color: $secondary-first-light;
    font-family: $text-font;
    font-size: 0.8rem;
}

.react-aria-Popover {
  background-color: $white;
  border: 1px solid $secondary-first-light;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  margin-left: 0.6rem;
  z-index: 10;
  width: 100%;
  max-width: 30rem;
  max-height: 12rem;
  overflow-y: auto;
  padding: 0.25rem 0;
}

.react-aria-ListBoxItem {
  padding: 0.5rem 1rem;
  font-family: $text-font;
  font-size: 0.8rem;
  cursor: pointer;
  color: $black;
}

.react-aria-ListBoxItem[data-focused="true"] {
  background-color: $secondary-first-light;
  color: $white;
}

.react-aria-ListBoxItem[aria-selected="true"] {
  background-color: $primary-second-light;
  color: $white;
}