.gallery-carousel {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 98%;
    height: 8rem;
    background: $white;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    
    padding: 1rem 2rem;

  .carousel-item {
    font-size: 1.2rem;
    font-weight: 600;
    color: $black-opaque-text;
    text-align: center;
    max-width: 80%;
  }

  .nav-button {
    background: transparent;
    border: none;
    color: $black-opaque-text;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem;
    transition: transform 0.2s ease;

    &.left {
      left: 0.5rem;
    }

    &.right {
      right: 0.5rem;
    }

    &:hover {
      transform: translateY(-50%) scale(1.2);
    }
  }

  .carousel-dots {
    position: absolute;
    bottom: 0.7rem;
    display: flex;
    gap: 0.5rem;

    .dot {
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background-color: $black-opaque-text;
      opacity: 0.4;
      cursor: pointer;
      transition: opacity 0.2s;

      &.active {
        opacity: 1;
      }
    }
  }
}
