.alternative {
    @include col-grid (5, 1fr, 0, center, center);
    text-align: center;
    margin-bottom: 1rem;
}

.line-left{
    width: 15rem;
    height: 0.2rem;
    background: $line-fill-left;
    grid-column: span 2;
}

.or-text {
    @include font-lato(0.8rem, 500);
    text-decoration: none;
    color: $black-opaque-text;
}

.line-right{
    width: 15rem;
    height: 0.2rem;
    background: $line-fill-right;
    grid-column: span 2;
}

.google-login-container {
    @include basic-flex (center, center);
    grid-column: span 5;
    margin-top: 1rem;
}

.google-login-button {
    @include rounded-box(1rem);
    width: 4rem;
    height: 4rem;
    border: 0.15rem solid $primary-second-light;
    transition: scale 0.2s ease-in-out;
}

.google-login-button:hover {
    @include input-hover-scale(1.1, 0.15rem, $secondary-first-light);
}