.alternative {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.line-left{
    width: 15rem;
    height: 0.2rem;
    background: $line-fill-left;
    grid-column: span 2;
}

.or-text {
    text-decoration: none;
    font-family: $text-font;
    font-size: 0.8rem;
    color: $black-opaque-text;
}

.line-right{
    width: 15rem;
    height: 0.2rem;
    background: $line-fill-right;
    grid-column: span 2;
}

.google-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 5;
    margin-top: 1rem;
}

.google-login-button {
    @include rounded-box(1rem);
    width: 4rem;
    height: 4rem;
    border: 0.15rem solid $primary-second-light;
    transition: scale 0.2s ease-in-out;
}

.google-login-button:hover {
    @include input-hover-scale(1.1, 0.15rem, $secondary-first-light);
}