@use "variables" as vars;
@use "typography" as typo;

.password-field {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
    transition: scale 0.2s ease-in-out;
}

.password-field:hover {
    border: 0.1rem solid vars.$secondary-first-light;
    scale: 1.02;
}

.password-field input {
    border: none;
    border-radius: 2rem 0 0 2rem;
    background: $white;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0px 4px 5px 0px vars.$black-shadow-box;
    padding-left: 2rem;
    color: vars.$black;
    font-family: typo.$text-font;
    font-weight: 700;
    font-size: 0.8rem;

    width: 25rem;
    height: 2rem;
}

.password-field input:focus {
    outline: none;
    color: vars.$white;
    font-family: typo.$text-font;
    font-size: 0.8rem;
    background: vars.$primary-second-light;
    border: 0.1rem solid vars.$secondary-first-light;
}

.password-field input::placeholder {
    color: vars.$secondary-first-light;
    font-family: typo.$text-font;
    font-size: 0.8rem;
}

.icon-btn {
    background-color: vars.$white;
    border: none;
    border-radius: 0 2rem 2rem 0;
    box-shadow: -3px 4px 5px 0px vars.$black-shadow-box;

    width: 5rem;
    height: 2rem;

    svg {
        transition: color 0.2s ease-in-out;
        color: vars.$primary-second-light;
    }

    &.show{
        background-color: vars.$primary-second-light;
        svg {
            color: vars.$white;
        }
    }
}