.password-field {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
    transition: scale 0.2s ease-in-out;
}

.password-field:hover {
    border: 0.1rem solid $secondary-first-light;
    scale: 1.02;
}

.password-field input {
    @include rounded-box(2rem 0 0 2rem);
    padding-left: 2rem;
    color: $black;
    font-family: $text-font;
    font-weight: 700;
    font-size: 0.8rem;

    width: 25rem;
    height: 2rem;
}

.password-field input:focus {
    outline: none;
    color: $white;
    font-family: $text-font;
    font-size: 0.8rem;
    background: $primary-second-light;
    border: 0.1rem solid $secondary-first-light;
}

.password-field input::placeholder {
    color: $secondary-first-light;
    font-family: $text-font;
    font-size: 0.8rem;
}

.icon-btn {
    @include rounded-box(0 2rem 2rem 0);
    width: 5rem;
    height: 2rem;

    svg {
        transition: color 0.2s ease-in-out;
        color: $primary-second-light;
    }

    &.show{
        background-color: $primary-second-light;
        svg {
            color: $white;
        }
    }
}