.trigger-btn {
    text-decoration: none;
    font-family: $text-font;
    font-size: 0.8rem;
    color: $black-opaque-text;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-bottom: 1rem;

    transition: scale 0.2s ease-in-out;
}

.trigger-btn:hover {
    color: $secondary-first-light;
    scale: 1.05;
}